.header-area {
    position: relative;
    margin-bottom: 40px;
}

.header-area::after {
    position: absolute;
    content: "";
    width: 6%;
    height: 5px;
    background-color: #777;
    left: 50%;
    bottom: -20px;
    margin-left: -3%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header-area h2 {
    font-size: 50px;
    font-weight: 700;
}