.single-user img {
    width: 350px;
    height: 250px;
}

.single-user {
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

button {
    background-color: saddlebrown;
    border: 1px solid saddlebrown;
    padding: 7px 15px;
    margin: 5px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.user-info {
    padding: 30px 15px;
}

.user-count-area {
    background: darkorange;
    min-height: 300px;
    border-radius: 5px;
    padding: 30px 20px;
}

.notsupport:hover {
    cursor: not-allowed;
}